@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

.btn {
  @apply shadow-md py-2 px-8 rounded-full transition duration-500;
}

.btn-orange {
  @apply bg-orange text-white hover:bg-white hover:text-darkBlue;
}

.btn-darkBlue {
  @apply bg-darkBlue text-white hover:bg-white hover:text-darkBlue;
}

.alice-carousel__stage-item {
  padding: 1rem;
}

.alice-carousel__prev-btn-wrapper,
.alice-carousel__next-btn-wrapper {
  margin: 1rem;
}
.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
  font-weight: 600;
  font-size: 2rem;
}

.alice-carousel__next-btn-item:hover *,
.alice-carousel__prev-btn-item:hover * {
  color: rgb(127, 181, 241);
}

.alice-carousel__next-btn-item::after .alice-carousel__prev-btn-item:after {
  color: #ffff;
  font-weight: 600;
  font-size: 2rem;
}
